<mt:setvarblock name="js_include" append="1">
<script src="<$mt:var name="static_uri"$>plugins/Passkey/dist/login.min.js?v=<$mt:var name="plugin_passkey_version"$>" type="module"></script>
</mt:setvarblock>
